<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DB" value="Data Source=.\SQLExpress;Initial Catalog=CryptoMiddleware;Integrated Security=True"/>
    <add key="Interval" value="300"/>
    <add key="GetTopVolumeAPI" value="https://min-api.cryptocompare.com/data/top/totalvolfull?limit=10&amp;tsym=USD"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>